@media only screen and (min-width: 1200px) {
    .main-navigation ul ul.sub-menu {
        &:hover {
            background-color: #fff !important;

            a {
                color: #f00;
            }
        }

        li {
            list-style: none;
            background-color: #f00 !important;
            font-size: 12px;
            padding: 9px 12px;
        }
    }

    .main-navigation ul ul.sub-menu li a,
    .main-navigation ul ul.sub-menu li a:active,
    .main-navigation ul ul.sub-menu li a:visited {
        color: #fff;
    }

    .main-navigation ul ul.sub-menu li a:hover {
        color: #f00;
    }
}